<section class="text-gray-600 body-font">
    <div class="container p-5 mx-auto">
        <div class="flex flex-wrap -m-4">
            <div *ngFor="let product of products()" class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                        [src]="product.imageUrl" />
                </a>
                <div class="mt-4 flex flex-col gap-4">
                    <div class="flex items-center justify-between">
                        <h2 class="text-gray-900 title-font text-lg font-medium">{{ product.name }}</h2>
                        <span class="mt-1">${{ product.price }}</span>
                    </div>
                    <button class="text-white bg-indigo-500 hover:bg-indigo-700 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center" (click)="viewProductDetail(product.id)">View</button>
                </div>
            </div>
        </div>
    </div>
</section>